[data-theme="light"] {
  --color-primary: #8D5EF2; /* Pink */
  --color-secondary: #8D5EF2; /* Indigo */
  --color-text: #1f2937; /* Gray 900 */
  --color-text-offset: #404040; /* Gray 600 */
  --color-background: #f3ecff; /* Gray 50 */
  --color-background-offset: #f3f4f6; /* Gray 100 */
  --color-border: rgba(31, 41, 55, 0.1); /* Gray 900 with 10% opacity */
}

[data-theme="dark"] {
  --color-primary: #8D5EF2; /* Pink */
  --color-secondary: #8D5EF2; /* Indigo */
  --color-text: #f9fafb; /* Gray 50 */
  --color-text-offset: #CEBDF2; /* Gray 400 */
  --color-background: #000000; /* Gray 900 */
  --color-background-offset: #9F79F2; /* Gray 800 */
  --color-border: rgba(249, 250, 251, 0.1); /* Gray 50 with 10% opacity */
}
