---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "D'GROUPE",
    icon: "organizan/dgroupe",
    url: "https://reactjs.org/",
  },
  {
    title: "On-Going",
    icon: "organizan/ongoing",
    url: "https://preactjs.com/",
  },
];

const frameworks1: Array<CompatibilityItem> = [
  {
    title: "Ruta N",
    icon: "sponsors/rutan",
    url: "https://svelte.dev/",
  },
  {
    title: "Sura",
    icon: "sponsors/sura",
    url: "https://svelte.dev/",
  },
  {
    title: "Comfama",
    icon: "sponsors/comfama",
    url: "https://vuejs.org/",
  },
  {
    title: "HATSU",
    icon: "sponsors/hatsu",
    url: "https://www.solidjs.com/",
  },
  {
    title: "Bancolombia",
    icon: "sponsors/bancolombia",
    url: "https://lit.dev/",
  },
  {
    title: "ANDI",
    icon: "sponsors/andi",
    url: "https://lit.dev/",
  },
  {
    title: "ICPA",
    icon: "sponsors/icpa",
    url: "https://lit.dev/",
  },
  {
    title: "Celsia",
    icon: "sponsors/celsia",
    url: "https://vuejs.org/",
  },  
  {
    title: "LR",
    icon: "sponsors/lr",
    url: "https://www.solidjs.com/",
  },
  {
    title: "KPMG",
    icon: "sponsors/kpmg",
    url: "https://lit.dev/",
  },
  {
    title: "Metro",
    icon: "sponsors/metro",
    url: "https://lit.dev/",
  },
  {
    title: "AWS",
    icon: "sponsors/aws",
    url: "https://lit.dev/",
  },
  {
    title: "MUMA",
    icon: "sponsors/muma",
    url: "https://svelte.dev/",
  },
  // {
  //   title: "Lucresia P.",
  //   icon: "sponsors/vue",
  //   url: "https://vuejs.org/",
  // },
  {
    title: "Flypass",
    icon: "sponsors/flypass",
    url: "https://www.solidjs.com/",
  },
  {
    title: "Alcaldía MED",
    icon: "sponsors/alcaldia",
    url: "https://lit.dev/",
  },
  // {
  //   title: "Bretaña",
  //   icon: "sponsors/bretaña",
  //   url: "https://lit.dev/",
  // },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "CoCrea",
    icon: "sponsors/cocrea",
    url: "https://www.netlify.com/",
  },
  {
    title: "ImpactHub",
    icon: "sponsors/impacthub",
    url: "https://vercel.com/",
  },
  {
    title: "Duque Arango",
    icon: "sponsors/duque",
    url: "https://pages.cloudflare.com/",
  },
  // {
  //   title: "Connect",
  //   icon: "platforms/render",
  //   url: "https://render.com/",
  // },
  // {
  //   title: "Sierra",
  //   icon: "fa-brands:github",
  //   url: "https://pages.github.com/",
  // },
  {
    title: "Portada",
    icon: "sponsors/portada",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
  // {
  //   title: "El Hub", 
  //   icon: "platforms/netlify",
  //   url: "https://www.netlify.com/",
  // },
  // {
  //   title: "CIC",
  //   icon: "platforms/cic",
  //   url: "https://www.netlify.com/",  
  // },
  {
    title: "En Medio",
    icon: "sponsors/medio",
    url: "https://vercel.com/",
  },
  {
    title: "RCN",
    icon: "sponsors/rcn",
    url: "https://pages.cloudflare.com/",
  },
  {
    title: "EL TIEMPO",
    icon: "sponsors/tiempo",
    url: "https://render.com/",
  },
  {
    title: "El Colombiano",
    icon: "sponsors/col",
    url: "https://pages.github.com/",
  },
  {
    title: "Portafolio",
    icon: "sponsors/portafolio",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
  {
    title: "Interactuar",
    icon: "sponsors/interactuar",
    url: "https://www.netlify.com/", 
  },
  // {
  //   title: "Plaza Mayor",
  //   icon: "sponsors/lit",
  //   url: "https://vercel.com/",
  // },
  {
    title: "endeavor",
    icon: "sponsors/endeavor",
    url: "https://pages.cloudflare.com/",
  },
  {
    title: "Libertank",
    icon: "sponsors/libertank",
    url: "https://render.com/",
  },
  // {
  //   title: "ACI",
  //   icon: "fa-brands:github",
  //   url: "https://pages.github.com/",
  // },
  {
    title: "Zetta Ventures",
    icon: "sponsors/zeta",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
  {
    title: "Pro Antioquia",
    icon: "sponsors/proant",
    url: "https://www.netlify.com/",
  },
  {
    title: "MedBureau",
    icon: "sponsors/bureau",
    url: "https://pages.cloudflare.com/",
  },
  {
    title: "IND",
    icon: "sponsors/ind",
    url: "https://render.com/",
  },
  {
    title: "Konkretus",
    icon: "sponsors/kon", 
    url: "https://pages.github.com/",
  },
];

const frameworks2: Array<CompatibilityItem> = [
  {
    title: "UPB",
    icon: "sponsors/upb",
    url: "https://www.netlify.com/",
  },
  {
    title: "CEIPA",
    icon: "sponsors/ceipa",
    url: "https://vercel.com/",
  },
  {
    title: "Universidad EAFIT",
    icon: "sponsors/eafit",
    url: "https://pages.cloudflare.com/",
  },
  {
    title: "EIA",
    icon: "sponsors/eia",
    url: "https://render.com/",
  },
  {
    title: "Universidad CES",
    icon: "sponsors/ces",
    url: "https://pages.github.com/",
  },
  {
    title: "ESIC",
    icon: "sponsors/esic",
    url: "https://svelte.dev/",
  },
  {
    title: "Impacta",
    icon: "sponsors/impacta",
    url: "https://svelte.dev/",
  },
  {
    title: "GT",
    icon: "sponsors/gt",
    url: "https://svelte.dev/",
  }, 
]
---

<ContentSection title="Aliados" id="compatibility">
  <Fragment slot="lead">
    Conexión Summit <span class="text-primary">juega bien con otros</span>.
    Estos son los <span class="text-primary">Aliados</span>
    que nos permiten co-crear este <span class="text-primary">ecosistema</span>.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Organizan"
    url="https://conexionsummit.com/"
  />
  <CompatibilityList
    items={frameworks1}
    title="Sponsors"
    url="https://conexionsummit.com/"
  />
  <CompatibilityList
    items={frameworks2}
    title="Universidades"
    url="https://conexionsummit.com/"
  />
  <CompatibilityList
    items={platforms}
    title="Aliados"
    url="https://conexionsummit.com/"
  />
</ContentSection>
