---
import ContentSection from "~/components/content-section.astro";

const themeColor = 'var(--aw-color-primary)'; // Example: Assuming you have a CSS variable for your theme color
---

<ContentSection title="Save the Date" id="features">
  <Fragment slot="lead">
    Conexión 2025
  </Fragment>
  <div class="countdown" style={`--theme-color: ${themeColor};`}>
		<div class="time-section">
		  <span id="days">00</span>
		  <p>Days</p>
		</div>
		<span class="separator">:</span>
		<div class="time-section">
		  <span id="hours">00</span>
		  <p>Hours</p>
		</div>
		<span class="separator">:</span>
		<div class="time-section">
		  <span id="minutes">00</span>
		  <p>Minutes</p>
		</div>
		<span class="separator">:</span>
		<div class="time-section">
		  <span id="seconds">00</span>
		  <p>Seconds</p>
		</div>
	  </div>
</ContentSection>

<ContentSection title="Podcasts" id="features2">
  <Fragment slot="lead">
    42 podcasts grabados en vivo
  </Fragment>

</ContentSection>

<style>
  /* Countdown Styles */
  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    padding: 5px;
    border-radius: 5px;
    margin-top: 1.5rem; /* Added margin to separate from other elements */
  }

  .time-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }

  .countdown span {
    font-size: 2rem; /* Adjusted font size for better fit */
    font-weight: bold;
  }

  .countdown p {
    margin: 0;
    font-size: 1rem;
  }
/* Separator styles */
  .countdown .separator {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 5px; /* Add some space around the separators */
  }
</style>

<script>
  const targetDate =  new Date("2025-08-05T23:59:59").getTime();

  const updateCountdown = () => {
    const now = new Date().getTime();
    const difference = targetDate - now;

    if (difference > 0) {
      const days = Math.floor(difference / (1000 * 60 * 60 * 24));
      const hours = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      const minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = Math.floor((difference % (1000 * 60)) / 1000);

      document.getElementById("days").innerText = days.toString().padStart(2, "0");
      document.getElementById("hours").innerText = hours.toString().padStart(2, "0");
      document.getElementById("minutes").innerText = minutes.toString().padStart(2, "0");
      document.getElementById("seconds").innerText = seconds.toString().padStart(2, "0");
    } else {
      document.querySelector(".countdown").innerHTML = "<p>The event has started!</p>";
    }
  };

  setInterval(updateCountdown, 1000);
</script>