---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title=" " id="intro">
  <Icon slot="eyebrow" name="on_logo_b" class="size-32" />
  <Fragment slot="lead">
    Estamos redefiniendo
    <span class="text-primary">el futuro del</span>
    ecosistema <span class="text-primary">emprendedor</span> de LATAM
  </Fragment>
</ContentSection>
